<!--===========================
=           About us          =
============================-->

<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 align-self-center">
				<div class="image-block bg-about">
					<img class="img-fluid" src="images/beer2-logo.jpg" alt="beer2-logo">
				</div>
			</div>
			<div class="col-lg-8 col-md-6 align-self-center">
				<div class="content-block">
					<h2>À propos de <span class="alternate">Saveurs de Génie</span></h2>
					<div class="description-one">
						<p>
							Saveurs de Génie est une compétition interuniversitaire de clubs brassicoles du Québec créée pour stimuler leur développement et permettre d’établir une fondation solide aux clubs brassicoles universitaires. 
						</p>
					</div>
					<div class="description-two">
						<p>Pendant l'événement, des microbrasseries québécoises viendront à l’École de technologie supérieure (ÉTS) vendre des échantillons de quatre et huit onces de leurs savoureuses bières. Cela sera aussi une excellente opportunité pour enrichir les étudiants présents et le public sur la diversité du monde brassicole québécois. On pourra trouver sur le site de la nourriture, du divertissement, un photobooth et plus. Saveurs de Génie prévoit accueillir aux environs de 700 à 1000 personnes au courant de la journée.</p>
                        <br>
                        <p>Le fonctionnement sera relativement simple, le coût d’entrée est inclus dans l’achat d'un des deux verres officiels de Saveurs de Génie. Seulement ceux ayant un des deux verres en question ou des éditions précédentes pourront acheter de la bière ou toutes autres consommations disponibles sur le site. Celui-ci est ouvert au grand public.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of About  ====-->