<!--==============================
=          Competition           =
===============================-->

<section class="section speakers bg-competition overlay-lighter">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section Title -->
				<div class="section-title white">
					<h3>La <span class="alternate">Compétition</span></h3>
					<p>Par la même occasion, on proposera aux brasseurs de devenir les juges. L'événement Saveurs de Génie comporte trois compétitions, la première est une présentation d’une innovation créée par les clubs étudiants brassicoles, la deuxième est une dégustation de bières selon un style expérimental et la troisième est le coup de cœur du public qui permettra aux visiteurs de voter pour leur bière préférée, tout style confondu, qui aura été faite par l'un des clubs étudiants. À ces compétitions, Saveurs de Génie a formellement invité les clubs étudiants brassicoles de l’Université Laval de Québec (Microbroue et Brassta), l’Université de Sherbrooke (Sherbroue), l'Université Polytechnique (PolyBroue) et l'ÉTS (GéniALE).</p>
                    <br>
                    <p>La <b>première compétition</b> porte sur l'innovation des méthodes brassicoles, chaque club étudiant aura la chance de donner une présentation de 5 minutes sur leurs dernières innovations. Puisque certains clubs sont spécialisés dans les sciences liées à l’alimentation ou la chimie, le gagnant sera sélectionné en fonction de l’intérêt porté par les juges vis-à-vis lesdites innovations.</p>
                    <br>
                    <p>La <b>deuxième compétition</b> sera de déterminer qui brasse la meilleure bière expérimentale. Nos critères seront fournis directement aux clubs étudiants et aux microbrasseries.</p>
                    <br>
                    <p>La <b>troisième compétition</b> est le coup de cœur du public pour la meilleure bière provenant d'un club étudiant. Le gagnant se mérite un trophée unique et utile pour leur club brassicole!</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Competition  ====-->