<!--================================
=            Google Map            =
=================================-->
<section class="map">
	<!-- Google Map -->
	<div id="map" data-latitude="45.4948236" data-longitude="-73.5649115" data-marker="images/icon/marker.png" data-marker-name="SaveursDeGénie"></div>
	<div class="address-block">
		<h4>Saveurs de Génie</h4>
		<ul class="address-list p-0 m-0">
			<li><i class="fa fa-home"></i><span>1100 Rue Notre Dame O, Montréal, <br>QC H3C 1K3, Canada.</span></li>
		</ul>
		<a href="https://www.google.com/maps/place/École+de+technologie+supérieure+(ÉTS)/@45.4948236,-73.5649115,17z/data=!3m1!4b1!4m6!3m5!1s0x4cc91a60aa839707:0xb732a719a45c45f6!8m2!3d45.4948236!4d-73.5623366!16zL20vMDF2NzBm?entry=ttu" target="_blank" class="btn btn-white-md">Obtenir Direction</a>
	</div>
</section>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5VDeKHUpF-_Dd9A4GqBiY2QkiDy29Bx4&callback=initialize">
</script>
<!--====  End of Google Map  ====-->