<!--==============================
=            Sponsors            =
===============================-->

<section class="sponsors section @@if( background === true ){bg-sponsors} overlay-white">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Nos <span class="alternate">Partenaires</span></h3>
					<p>Merci à nos partenaires de faire de cet événement une réussite et d’aider à promouvoir les technologies brassicoles dans nos universités.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<!-- Title -->
				<div class="block text-center">
					<!-- Sponsors image list -->
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="https://www.berliefalco.com/">
									<img src="images/sponsors/12.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
            <li class="list-inline-item">
							<div class="image-block text-center">
								<a href="https://www.aeets.com/">
									<img src="images/sponsors/11.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
				</div>
				<div class="sponsor-btn text-center">
					<a href="contact.html" class="btn btn-main-md">Devenir partenaire</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Sponsors  ====-->
